<div class="page-header">
  <h1>提交订单</h1>
</div>
<% total = 0 %>
<% current_user.carts.each do |item| %>
  <% total = total + item.num*item.product.price %>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>序号</th>
    <th>名称</th>
    <th>单价</th>
    <th>数量</th>
    <th>添加时间</th>
  </tr>
  </thead>

  <tbody>
  <% i = 1 %>
  <% current_user.carts.each do |item| %>
    <tr>
      <td><%= i %></td>
      <td><%= link_to item.product.name, pd_path( item.product ) %> </td>
      <td><%= item.product.price %></td>
      <td><%= item.num %></td>
      <td><%= item.datetime %></td>
    </tr>
    <% i = i + 1 %>
  <% end %>
  </tbody>
</table>

<div class = "text-left">
  <h2>总价格：￥ <%= total %> </h2>
</div>
<%= form_for [ @product, Order.new ] do |f| %>
  <p>
  <%= f.label :姓名 %>
  </p>
    <p>
  <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :收货地址 %>
  </p>
    <p>
    <%= f.text_field :address %>
  </p>
    <p>
      <%= f.label :电话号码 %>
    </p>
    <p>
      <%= f.text_field :tele%>
    </p>
  <%= f.submit "提交订单", class: "btn btn-success" %>
<% end %>