<% if !user_signed_in? %>

  <div class="container">
    <div class="jumbotron">
      <h1>欢迎来到本购物网站！</h1>
      <p>请阅读下方说明再进行登陆</p>
      <p><a class="btn btn-primary btn-lg" role="button" href=users/sign_in>
        登陆</a>
      </p>
    </div>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h2>关于</h2>
        <p>本网站是ruby课程的大作业</p>
        <p> 实现了一个电商网站</p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h2>联系我</h2>
        <p>weixinlong@buaa.edu.cn</p>
        <hr class="hidden-sm hidden-md hidden-lg">
      </div>
      <div class="col-sm-8">
        <h2>用户使用说明</h2>
        <p>用户可以浏览商品并查看详细信息</p>
        <p>将商品加入到购物车与收藏夹</p>
        <p>并查看自己的购物车与收藏夹</p>
        <p>也可以将商品从购物车和收藏夹删去</p>
        <p>结算操作：填写具体信息结算商品</p>
        <p>默认的用户账号为123456@qq.com 密码123456</p>
        <p>你也可以通过注册功能自己注册账号</p>
        <br>
        <h2>管理员使用说明</h2>
        <p>管理员可以查看所有商品列表，对其进行添加删除更新等操作</p>
        <p>可以查看所有订单列表，对其进行添加删除更新等操作</p>
        <p>管理员只能通过账号admin@qq.com 密码123456登陆</p>

      </div>
    </div>
  </div>
<% end %>

<% if user_signed_in? and current_user.email != "admin@qq.com"%>
  <div class="container">
    <div class="jumbotron">
      <h1>欢迎来到本购物网站！</h1>
      <p>若你的订单有任何问题请及时联系我们</p>
    </div>
  </div>
  <div class="page-header">
    <h1>热门商品</h1>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <a href=<%=pd_path( product ) %> class="thumbnail"><img src=<%= product.path %>/></a>
          <div class="caption">
            <h3><%= product.name %></h3>
            <p>价格：<%= product.price %>￥ &nbsp &nbsp &nbsp &nbsp 销量：<%= product.sale %></p>
            <p><a class="btn btn-primary" role="button"  href=<%=pd_path( product ) %> >详细信息</a>
              &nbsp &nbsp
              <a class="btn btn-success" role="button"  href=<%=pd_path( product ) %> >加入到购物车</a>
            </p>
          </div>
        </div>
      </div>

    <% end %>
  </div>

<% end %>

<% if user_signed_in? and current_user.email == "admin@qq.com"%>
  <div class="container">
    <div class="jumbotron">
      <h1>欢迎来到管理员界面</h1>
      <p>你可以管理商品和处理订单</p>
    </div>
  </div>
<% end %>